@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-bk {
    &_sidebar {
        background-repeat: no-repeat;
        background-size: contain;
    }
    &_sidebar1 {
        background: url('../img/bar-shisetsu_bk1.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &_sidebar2 {
        background: url('../img/bar-shisetsu_bk2.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &_sidebar3 {
        background: url('../img/bar-shisetsu_bk3.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &_sidebar4 {
        background: url('../img/bar-shisetsu_bk4.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &_sidebar5 {
        background-color: rgba(255,197,201,1);
        @include mixin.mq(lpc) {
            background-color: #ffffff;
        }
    }

    &_sidebk {
        @include mixin.mq(lpc) {
            background-color: rgb(249,233,234);
            border-radius: 10px;
        }
    }

    &_mainbtm {
        background: url('../img/bk-mainbtm.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &_footer {
        background-color: #6b6b6b;
    }

    &_header {
        background-color: #ffffff;
        opacity: 0.8;
        z-index: 999;
    }
    &_post1 {
        background-color: #ffe9ea;
    }

    &_title1 {
        background-color: #8cb267;
        border-radius: 20px;
        color: #ffffff;
    }

    &_title2 {
        background-color: #f4b0cd;
        border-radius: 20px;
        color: #ffffff;
    }

    &_title3 {
        background-color: #f4a584;
        border-radius: 20px;
        color: #ffffff;
    }
}