@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-card {
    &_post {
        border-radius: 10px;
    }

    &_psec {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        width: 60%;
    }

    &_table {
        th {
            background-color:darkcyan;
            color: #ffffff;
            font-weight: 400;
            border: solid 1px #333;
        }

        td {
            background-color: #ffffff;
        }
    }

    &_infotxt {
        padding-right: 100px;
        line-height: 50px;
        font-size: 1.6rem;
    }
}