@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-card {
    &_post {
        border-radius: 10px;
    }

    &_psec {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        width: 60%;

        @include mixin.mq(md) {
            width: 100%;
        }

        @include mixin.mq(sp) {
            //font-size: 1.4rem;
        }
    }

    &_psec2 {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        width: 90%;

        @include mixin.mq(md) {
            width: 100%;
        }

        @include mixin.mq(sp) {
            //font-size: 1.4rem;
        }
    }

    &_psec3 {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        width: 100%;

        @include mixin.mq(sp) {
            //font-size: 1.4rem;
        }
    }

    &_psec5 {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        width: 60%;

        strong {
            font-size: 2rem;
        }

        @include mixin.mq(md) {
            width: 100%;

            strong {
                font-size: 1.6rem;
            }
        }

        @include mixin.mq(sp) {
            //font-size: 1.4rem;
        }
    }

    &_psec6 {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        width: 100%;

        strong {
            font-size: 2rem;
        }

        @include mixin.mq(md) {
            width: 100%;

            strong {
                font-size: 1.6rem;
            }
        }

        @include mixin.mq(sp) {
            //font-size: 1.4rem;
        }
    }

    &_psec7 {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 26px;
        //width: 90%;
        text-align: center;

        @include mixin.mq(md) {
            width: 100%;
        }

        @include mixin.mq(sp) {
            //font-size: 1.4rem;
        }
    }

    &_table {
        th {
            background-color:darkcyan;
            color: #ffffff;
            font-weight: 400;
            border: solid 1px #333;
        }

        td {
            background-color: #ffffff;
        }
    }

    &_infotxt {
        padding-right: 70px;
        line-height: 50px;
        font-size: 1.6rem;

        @include mixin.mq(md) {
            padding-right: 0;
            line-height: 36px;
        }
    }

    &_top {
        top: 30px;
    }
}

/*WordPress自動付与クラス名分スタイル*/
/*老人ホームコンテンツ, みつわについてコンテンツ*/
.wp-container-core-group-layout-3,.wp-container-core-group-layout-2, .wp-container-core-group-layout-4, .wp-container-core-group-layout-5,.wp-container-core-group-layout-7, .wp-container-core-group-layout-8, .wp-container-core-group-layout-9, .wp-container-core-group-layout-10 {
    @include mixin.mq(md) {
        flex-wrap: unset !important;
        display: block !important;
    }
}