@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-txt {
    &_12 {
        font-size: 1.2rem;
    }
    &_16 {
        font-size: 1.6rem;
    }
    &_14 {
        font-size: 1.4rem;
    }
    &_14a {
        a {
            font-size: 1.4625rem;
        }
    }
    &_14tab {
        @include mixin.mq(md) {
            font-size: 1.4rem;
        }
    }


    &_color1 {
        color: #b3c1a0;
    }
    &_color2 {
        color: #E7977e;
    }
    &_color3 {
        color: #ffffff;
    }
    &_color4 {
        color: #56772c;
    }
    &_color5 {
        color: #b85d1d;
    }
}