@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-title{
    &_mv {
        top: 140px;
        font-size: 20px;
        text-align: center;
        span {
            font-size: 32px;
        }
    }
}