@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-title{
    &_mv {
        //top: 140px;
        top: 195px;
        font-family: variable.$catch;
        font-size: 20px;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
        border-radius: 6px;
        //width: 250px;
        width: 390px;
        padding: 5px 10px;
        color: #656565;

        @include mixin.mq(lpc) {
            top: clamp(7rem, 1.8205rem + 17.2652vw, 19.5rem);
        }

        @include mixin.mq(md) {
            //top: clamp(7rem, -0.9957rem + 26.6525vw, 19.5rem);
            font-size: clamp(1rem, 1.3442rem + 0.8529vw, 2rem);
        }
        
        span {
            //font-size: 32px;
            font-size: 4.8rem;
            //position: relative;
            border-bottom: 1px solid #333;

            /*&::after {
                border-bottom: 1px solid #333;
                position: absolute;
                contain: "";
                display: block;
                bottom: 0;
            }*/

            @include mixin.mq(md) {
                font-size: clamp(2rem, 1.2325rem + 2.5586vw, 2rem);
            }
        }
    }
    &_sidebar {
        font-family: variable.$catch;
        font-size: 3rem;
        margin-bottom: 15px;
        position: relative;
        width: 208px;
        border-radius: 22px;
        height: 65px;
        border: 6px solid rgba(249,233,234,1);

        @include mixin.mq(md) {
            font-size: 2.4rem;
            width: 200px;
            margin-left: -15px;
        }

        img {
            position: relative;
            width: 50px;
            top: 6px;
            left: 10px;
        }

        p {
            position: absolute;
            top: 8px;
            left: 60px;

            @include mixin.mq(md) {
                top: 12px;
            }
        }
    }

    &_16 {
        font-size: 1.6rem;
    }

    &_post {
        font-size: 3.2rem;
        border-bottom: 1px solid #b85d1d;
        font-family: variable.$catch;
        padding-bottom: 5px;

        @include mixin.mq(md) {
            font-size: 2.4rem;
        }
    }

    &_clinic {
        font-size: 2rem;
        border-bottom: 1px solid #656565;
        padding-top: 30px;
        padding-bottom: 5px;
        font-family: variable.$catch;

        @include mixin.mq(md) {
            font-size: 1.6rem;
        }

    }
}