@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-disp {
    &-block {
        display: block;
    }
    &-inlinebk {
        display: inline-block;
    }
    &-inline {
        display: inline;
    }
    &-flex {
        display: flex;
    }
    &-hidden {
        display: none;
    }
    &-flexblocktab {
        display: flex;
        @include mixin.mq(md) {
            display: block;
        }
    }
    &-flexblocklpc {
        display: flex;
        @include mixin.mq(lpc) {
            display: block;
        }
    }
    &-flexnone {
        display: flex;
        @include mixin.mq(md) {
            display: none;
        }
    }
    &-contents {
        display: contents;
    }
    &-blocktab {
        @include mixin.mq(md) {
            display: block !important;
        }
    }
    &-flexwrap {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    &-noneblock {
        display: none;
        @include mixin.mq(lpc) {
            display: block;
        }
    }
    &-nonelpc {
        @include mixin.mq(lpc) {
            display: none;
        }
    }
}