@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-mar {
    &-mxa {
        margin-inline: auto;
    }
    &-mya {
        margin-block: auto;
    }
    &-b45 {
        margin-bottom: 45px;
    }
    &-b21 {
        margin-bottom: 21px;
    }
    &-mx1p {
        margin-inline: 1%;
    }
    &-mt10 {
        margin-top: 10px;
    }
    &-mb5 {
        margin-bottom: 5px;
    }
    &-mb10 {
        margin-bottom: 10px;
    }
    &-mb25 {
        margin-bottom: 25px;
    }
    &-mt15 {
        margin-top: 15px;
    }
    &-mt20 {
        margin-top: 20px;
    }
    &-mt25 {
        margin-top: 25px;
    }
    &-my30 {
        margin-block: 30px;
    }
    &-mt45 {
        margin-top: 45px;
    }
    &-mt25tab {
        @include mixin.mq(md) {
            margin-top: 25px;
        }
    }
    &-mt55tab {
        @include mixin.mq(md) {
            margin-top: 55px;
        }
    }
    &-mt5mb10 {
        margin: 5px 0 10px;
    }
    &-my15 {
        margin-block: 15px;
    }
    &-mt15mla {
        margin-top: 15px;
        margin-left: clamp(0rem, -6.8571rem + 6.6964vw, 6rem);
    }
    &-b21bk10 {
        margin-bottom: 21px;
        @include mixin.mq(lpc) {
            margin: 10px 0;
        }
    }
}


/*WordPress自動付与クラス名分スタイル*/
.wp-block-group__inner-container {
    margin-right: 0 !important;
    margin-right: 0 !important;
}