@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-mar {
    &-mxa {
        margin-inline: auto;
    }
    &-mya {
        margin-block: auto;
    }
    &-b45 {
        margin-bottom: 45px;
    }
    &-b21 {
        margin-bottom: 21px;
    }
    &-mx1p {
        margin-inline: 1%;
    }
}