@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-mar {
    &-mxa {
        margin-inline: auto;
    }
    &-mya {
        margin-block: auto;
    }
    &-b45 {
        margin-bottom: 45px;
    }
    &-b21 {
        margin-bottom: 21px;
    }
    &-mx1p {
        margin-inline: 1%;
    }
    &-mt10 {
        margin-top: 10px;
    }
    &-mb5 {
        margin-bottom: 5px;
    }
    &-mb10 {
        margin-bottom: 10px;
    }
    &-mt15 {
        margin-top: 15px;
    }
    &-my30 {
        margin-block: 30px;
    }
    &-mt25tab {
        @include mixin.mq(md) {
            margin-top: 25px;
        }
    }
    &-mt55tab {
        @include mixin.mq(md) {
            margin-top: 55px;
        }
    }
}