@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-w {
    &_maxpc {
        max-width: 1400px;
    }

    &_70p {
        width: 70%;
    }

    &_30p {
        width: 30%;
    }

    &_55p {
        width: 55%;
    }
}