@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-w {
    &_maxpc {
        max-width: 1400px;
    }

    &_100p {
        width: 100%;
    }

    &_70p {
        width: 70%;
    }

    &_30p {
        width: 30%;
    }

    &_55p {
        width: 55%;
    }

    &_30p85p {
        width: 30%;
        @include mixin.mq(lpc) {
            width: 85%;
        }
    }

    &_sbar {
        width: 72%;
        @include mixin.mq(lpc) {
            width: 40%;
        }
        @include mixin.mq(md) {
            width: 200px;
        }
    }

    &_100p70p {
        width: 70%;
        @include mixin.mq(lpc) {
            width: 100%;
        }
    }
}