@use "../../Foundation/mixin";
@use "../../Foundation/variable";


.timeline {
    width: 96%;
    max-width: 940px;
    margin: 28px auto;
    //border: 1px solid #eeeeee;
    
    &-list {
        padding: 40px 0;
        
        &-item {
            display: flex;
            line-height: 1.5;
            font-size: 16px;

            @include mixin.mq(md) {
                font-size: 14px;
            }
            
            .date {
                width: 15%;
                //padding: 0 0 0 20px;
                color: #888888;
                font-weight: bold;

                @include mixin.mq(md) {
                    width: clamp(14.503rem, 24.4128rem + -23.1534vw, 6.6078rem);
                }
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 0 40px 30px;
                border-left: 1px solid #aaaaaa;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10px;
                    width: 20px;
                    height: 20px;
                    background-color: #00c2bc;
                    border-radius: 10px;
                }
            }
        }
    }
}


/*wpで自動付与されたクラスのスタイル*/
.wp-image-740 {
    position: absolute;
    top: 0;
    right: 140px;
    width: 130px;

    @include mixin.mq(lpc) {
        right: clamp(6.5rem, -16.23616rem + 29.5276vw, 14rem);
        width: clamp(10rem, 0.95296rem + 11.7647vw, 13rem);
    }
    @include mixin.mq(md) {
        //right: clamp(-2.5rem, -13.85584rem + 26.4706vw, 6.5rem);
        right: 0;
        //width: clamp(7.5rem, 0.56032rem + 16.1765vw, 13rem);
        width: clamp(5.8rem, 0.50064rem + 12.3529vw, 10rem);
        //top: clamp(-4.0rem, -10.89648rem + 17.2414vw, -3.5rem);
        top: -35px;
    }
    @include mixin.mq(sp) {
        //top: clamp(-5rem, -16.71872rem + 39.0625vw, 0rem);
        //width: clamp(6rem, 2.48432rem + 11.7188vw, 7.5rem);
    }
}
.wp-image-737 {
    position: absolute;
    top: 200px;
    right: 40px;
    width: 150px;

    @include mixin.mq(lpc) {
        //right: clamp(6.5rem, -16.23616rem + 29.5276vw, 14rem);
        width: clamp(13rem, 6.96864rem + 7.8431vw, 15rem);
    }
    @include mixin.mq(md) {
        right: clamp(0rem, -5.02048rem + 11.7302vw, 4rem);
        //right: 0;
        //width: clamp(7.5rem, 0.56032rem + 16.1765vw, 13rem);
        width: clamp(10rem, 6.23456rem + 8.7977vw, 13rem);
        top: 215px;
        //top: -35px;
    }
    @media screen and (max-width: 555px) {
        top: 270px;
    }

    @include mixin.mq(sp) {
        display: none;
    }
}
.wp-image-741 {
    position: absolute;
    bottom: 50px;
    right: 160px;
    width: 150px;

    @include mixin.mq(lpc) {
        right: clamp(0.5rem, -46.2432rem + 60.7843vw, 16rem);
        width: clamp(13rem, 6.96864rem + 7.8431vw, 15rem);
    }
    @include mixin.mq(md) {
        right: clamp(0rem, -0.63088rem + 1.4706vw, 0.5rem);
        //right: 0;
        //width: clamp(7.5rem, 0.56032rem + 16.1765vw, 13rem);
        width: clamp(10rem, 6.23456rem + 8.7977vw, 13rem);
        bottom: 25px;
    }
    @media screen and (max-width: 620px) {
        bottom: -35px;
    }
    @media screen and (max-width: 465px) {
        bottom: -15px;
    }

    @include mixin.mq(sp) {
        display: none;
    }
}
