@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.p-homeebisu {
    &_main {
        display: flex;
        flex-direction: row-reverse;

        @include mixin.mq(lpc) {
            display: block;
            flex-direction: unset;
        }
    }

    &_content {
        @include mixin.mq(lpc) {
            width: 100%;
        }
    }
}


//老人ホーム笑びすに関するWordPress自動付与クラス名分スタイル
.menu-item-186,
.menu-item-189 {
    //padding: 16px 5px; 
    padding: 10px 5px;
    a {
        width: 65px;
        text-align: center;
        @include mixin.mq(lpc) {
            text-align: initial;
        }
    }

    @include mixin.mq(lpc) {
        padding: 5px;
    }
}

.menu-item-184,
.menu-item-185,
.menu-item-187,
.menu-item-188,
.menu-item-190 {
    //padding: 25px 5px;
    padding: 10px 5px;

    @include mixin.mq(lpc) {
        padding: 5px;
    }
}