@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.p-sidebar {

    &-wrap {
        width: 100%;
        //height: 325px;
        display: flex;
        flex-wrap: wrap;
        padding-right: 2%;

        @include mixin.mq(lpc) {
            height: 265px;
        }
    }
    &-title {
        font-size: 2rem;
    }
    &-btn {
        border: 1px solid #333;
        border-radius: 6px;
        height: 148px;
        position: relative;

        @include mixin.mq(lpc) {
            margin-inline: auto;
            height: 110px;
        }
    }
    &-icon1::after {
            position: absolute;
            content: "";
            top: 50px;
            left: -20px;
            width: 100px;
            height: 100px;
            background-image: url('../img/bar-shisetsu_icon1.png');
            background-size: contain;
            background-repeat: no-repeat;
    }
    //&-bk {
        //background: url('../img/bar-shisetsu_bk1.png');
        //background-repeat: no-repeat;
        //background-size: contain;
    //}
}