@use "../Foundation/mixin";
@use "../Foundation/variable";

.l-header {
    max-width: 100vw;
    position: relative;

    &_menu {
        display: flex;
        position: absolute;
    }
}

.test {
    max-height: 100%;
}